<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwxtd.core.dao.GoodsBackupMapper" >
	<insert id="insert" parameterType="com.gwxtd.core.pojo.GoodsBackup">
		insert into goodsbackup(gId,gName) values(#{gid},#{gname})
	</insert>
	<select id="selectById" parameterType="java.lang.Integer" resultType="com.gwxtd.core.pojo.GoodsBackup">
		select gName from goodsbackup where gId=#{gid}
	</select>
</mapper>